<ion-header>
  <ion-toolbar>
    <ion-title>employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="top"
    horizontal="end"
    edge="true"
    slot="fixed"
    (click)="openEmployeeFormPopover()"
  >
    <ion-fab-button color="medium">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher
    slot="fixed"
    [disabled]="!(employeesArray.length > 0) && !noEmployees"
    (ionRefresh)="getAllEmployees($event)"
  >
    <ion-refresher-content
      refreshingSpinner="lines-small"
      pullingIcon="arrow-dropdown"
    ></ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="loading && !noEmployees">
    <ion-spinner name="lines-small"></ion-spinner>
  </div>
  <div *ngIf="noEmployees">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Opps !!!</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: red">No Data Found</ion-card-content>
    </ion-card>
  </div>
  <ion-list class="employees-list" lines="none">
    <ion-card *ngFor="let employee of employeesArray; let id = index">
      <ion-item-sliding>
        <ion-item style="font-size: 12pt; height: 80px;">
          <ion-avatar slot="start" style="width: 50px; height: 50px">
            <img
              defaultImage="../../../assets/imgs/no_profile_image.png"
              [lazyLoad]="employee?.profile_image"
            />
          </ion-avatar>
          <ion-grid style="width: 100%" no-padding>
            <ion-row>
              <ion-col no-padding size="8">
                <ion-label class="employee-name">{{
                  employee.employee_name
                }}</ion-label>
                <p class="employee-age">{{ employee.employee_age }} years</p>
              </ion-col>

              <ion-col no-padding size="4">
                <div text-center>
                  <ion-label class="employee-salary">{{
                    employee.employee_salary | currency
                  }}</ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="primary"
            (click)="openEmployeeFormPopover(employee)"
            ><ion-icon name="create"></ion-icon>
            <p>Edit</p></ion-item-option
          >
          <ion-item-option
            color="danger"
            (click)="deleteEmployee(employee.id, id)"
            ><ion-icon name="trash"></ion-icon>
            <p>Delete</p></ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
