<ion-header>
  <ion-toolbar>
    <ion-title>employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="top"
    horizontal="end"
    edge="true"
    slot="fixed"
    (click)="openEmployeeFormPopover()"
  >
    <ion-fab-button color="medium">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div text-center *ngIf="employees.length == 0">
    <ion-spinner name="lines-small"></ion-spinner>
  </div>
  <div *ngIf="noEmployees">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Opps !!!</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color: red">No Data Found</ion-card-content>
    </ion-card>
  </div>
  <ion-list class="employees-list" lines="none">
    <ion-card *ngFor="let employee of employees; let id = index">
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{ employee.employee_name }}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="primary"
            (click)="openEmployeeFormPopover(employee)"
            ><ion-icon name="create"></ion-icon>
            <p>Edit</p></ion-item-option
          >
          <ion-item-option
            color="danger"
            (click)="deleteEmployee(employee.id, id)"
            ><ion-icon name="trash"></ion-icon>
            <p>Delete</p></ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
